* {
  margin: 0;
  padding: 0
}

#frist_div {
  position: relative;
  background: #ccc;
}

img p h6{
  display: block;
}

#head_img {
  border-radius:50%;
  position: absolute;
  top: 15%;
  left: 36%;
  width: 28%;
  height: 42%;
}

.user_text {
  color: #ffffff;
  position: absolute;
  top: 58%;
  text-align: center;
  left: 40%;
}


